%p#notice= notice

%h1= @episode.podcast.title
%h2= @episode.title

= link_to 'Back', podcast_path(@episode.podcast_id)

%p.description
  =@episode.summary
%p
  %audio{ :controls => 'controls' }
    %source{ src: @episode.mp3_link }
