.row.episode
  .col-left
    .podcast-cover
      %img{ src: "http://podcasts.howstuffworks.com/hsw/podcasts/sysk/sysk-audio-1600.jpg" }
      %span.subscribe-icon 
        %a.subscribe{ href: "#subscribe" } &#10133;
    %h4 Hello Internet
    %p.podcast-description How do landfills work? How do mosquitos work? Join Josh and Chuck as they explore the Stuff You Should Know about everything from genes to the Galapagos in this podcast from HowStuffWorks.com.

  .col-center
    %h4 Some Really Interesting Cases of Mass Hysteria

    %a Mark as played
    %p
      Around the world and across time, people have fallen victim to one of the strongest contagions of all – the power of suggestion. Here are just a few examples of these bizarre cases.

    %p
      %audio{ :controls => 'controls' }
        %source{ src: "http://traffic.libsyn.com/hellointernet/59.mp3" }


<br/>
<br/>
<br/>
<br/>
.test-size
  %span Layout:
