%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %a.navbar-brand{ href: "#" }
    Pony Pod
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{ href: "#" }
        All Podcasts
        %span.sr-only
          (current)
    %li.nav-item
      %a.nav-link{ href: "#" } My Subscriptions

.container-fluid.cont
  .row
    .col-xs-12
      .media
        %a.media-left
          %img.media-object{ src: "http://placehold.it/100.png", alt: "Test" }
        .media-body
          %h4.media-heading Testme Test
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

    .col-xs-12
      .media
        %a.media-left
          %img.media-object{ src: "http://placehold.it/100.png", alt: "Test" }
        .media-body
          %h4.media-heading Testme Test
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    .col-xs-12
      .media
        %a.media-left
          %img.media-object{ src: "http://placehold.it/100.png", alt: "Test" }
        .media-body
          %h4.media-heading Testme Test
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
