.row.podcast
  .col-left
    .content-wrapper
      / %img{ src: "http://podcasts.howstuffworks.com/hsw/podcasts/sysk/sysk-audio-1600.jpg" }
      / %h3 Hello Internet
      / %p How do landfills work? How do mosquitos work? Join Josh and Chuck as they explore the Stuff You Should Know about everything from genes to the Galapagos in this podcast from HowStuffWorks.com.
  .col-center
    .content-wrapper
  .col-right
    .content-wrapper