@import bootstrap
@import ie10-viewport-bug-workaround

$enable-flex: true

+media-breakpoint-up(xs)
  .test-size:after
    content: " xs "
+media-breakpoint-up(sm)
  .test-size:after
    content: " sm "
+media-breakpoint-up(md)
  .test-size:after
    content: " md "
+media-breakpoint-up(lg)
  .test-size:after
    content: " lg "
+media-breakpoint-up(xl)
  .test-size:after
    content: " xl "

.test-size
  margin-top: 3rem


// Actual styles

nav
  background-color: #ffffff
  .search-form
    margin-left: 1em
  #search
    width: 30em

.container-fluid
  background-color: #f1f1f1
  +make-container

.row
  +make-row
  padding: 0.3rem

.podcast
  +make-col
  +media-breakpoint-up(sm)
    +make-col-span(12)
  +media-breakpoint-up(md)
    +make-col-span(6)
  +media-breakpoint-up(xl)
    +make-col-span(4)
  padding: 0.3rem

  .media
    background: #ffffff
    padding: 0.3rem
    max-height: 138px

